body {
  color: $color-primary;
  background-size: contain;
  font-family: $font-main;
  font-weight: 400;
  line-height: 2rem;
  font-size: $font-size;
  overflow-x: hidden;
  background: $color-bg-light;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: $color-accent;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: $color-strong;
  line-height: 2.5rem;
  letter-spacing: 4.42px;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: -0.4px;
  color: $color-light;
}


button,
button:active,
button:focus{
  outline:none;
}

a {
  color: $color-accent;
  font-weight: 700;

  &:hover,
  &:active {
    color: $color-primary;
  }
}
.bold{
  font-weight: bold;
}
.arrow{
  transition: 0.5s;
  &:hover{
    transform: translateX(10px);
  }
}
ol{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
video{
  border-radius: 12px;
  position: relative;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.accent-black{
  color: $color-strong;
}
.accent{
  color: $color-accent;
}

@media (max-width: 992px) {
  h1 {
    text-align: center;
  }
  .about__line{
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .about-img__mobile{
    width: 100%;
  }
}


@media (max-width: 768px) {
  h1 {
    font-size: 2.125rem;
    text-align: center;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 4.42px;
  }
  h3{
     font-size: 1.25rem;
     line-height: 2rem;
  }

}




