.about {
  padding-top: 106px;
  padding-bottom: 70px;
  background: $color-light;

  &__text {
    padding: 0 !important;
  }

  &__paragraph {
    line-height: 2rem;
    letter-spacing: -0.4px;
    color: $color-primary;
    margin-top: 41px;
  }

  &__title {
    margin-bottom: 57px;
  }

  &__line {
    width: 227px;
    height: 5px;
    content: "";
    margin-bottom: 48px;
    background: $color-line;
  }

  &__accent {
    color: $color-accent;
    font-weight: 600;
  }
}

   .section-card {
    padding: 77px 0 87px 0;

    &__title {
      color: $color-accent;
      margin-bottom: 90px;
    }
  }
    .card-left, .card-right,  .card-center{
       padding: 4px;
    }
    .section-blue{
      background: linear-gradient(180deg, #163DA2 0%, #003584 100%);
      padding: 90px 0 95px 0;

      &__btn-block{
        background: rgba(55, 111, 255, 0.16);
        mix-blend-mode: normal;
        border: 1px solid #3355AF;
        box-sizing: border-box;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
        border-radius: 16px;
        padding: 40px 25px 40px 33px;
        margin-top: 65px;
      }
      &__btn-text{
        color: $color-italic;
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 2rem;
        letter-spacing: -0.4px;
        font-style: italic;
        margin-bottom: 0;
      }
    }
    .section-ihre{
      margin-top: 82px;

      &__text{
        margin-bottom: 40px;
      }
    }
    .ihre-card{
      min-height: 136px !important;
    }
    .ihre-body{
      padding: 38px 15px 34px 35px;
      height: 140px;
    }
    .img-card{
      margin-right: 35px;
    }
    .hauptmerkmale{
      background: #FFFFFF;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 16px;
      margin-top: 50px;
      padding: 43px 52px 65px 52px;

      &__item {
        margin-bottom: $gap;
      }
      &__img{
        margin-right: $gap;
        font-size: 1rem;
      }
    }
    .funtc{
      padding: 80px 0 106px;

      &__overlay{
        opacity: 0.8;
        background-color: rgba(21, 21, 21, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 10px;
        width: 100%;
        z-index: 4;
        transition: .5s;
        border-radius: 16px;
        backdrop-filter: blur(19px);
      }
      &__items{
       position: relative;
      }
    }
    .die-block{
      background: #FFFFFF;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 16px;
      padding: 48px 46px 80px 60px;
      margin-bottom: 93px;
      & .section-ihre__text {
        margin-bottom: 57px;
      }
      &__text{
        margin-top: 40px;
      }
      &__title{
        font-size: 1.25rem;
      }
      & .about__line{
        margin-top: 32px;
        margin-bottom: 52px;
      }
    }
    .fall{

      &__tabs{
        background: $color-light;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
      }
      .nav-tabs{
        height: 65px;
        background: #f6f7f9;
      }
      button, .nav-item, .nav-link, button:hover{
        width: 33.3%;
        display: flex;
        justify-content: center;
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 2em;
        letter-spacing: -0.4px;
        color: $color-tabs;
        border: none;
        border-radius: 16px 16px 0 0;
      }
      .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
        width: 100%;
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 2em;
        letter-spacing: -0.4px;
        border: none;
      }
      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 2em;
        letter-spacing: -0.4px;
        border: none;
        border-bottom: 1px solid $color-tabs-bottom;
        border-radius: 16px 16px 0 0;
      }
      &__title{
        color: $color-tabs-title;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 2.3rem;
        letter-spacing: 2.42px;
        margin-top: 52px;
        margin-bottom: 47px;
      }
      .table-title{
        border-bottom: 1px solid $color-tabs-td;
      }
      .table>:not(caption)>*>*{
        border-right: 1px solid $color-tabs-td;
        border-bottom: 1px solid $color-tabs-td;
        padding-top: 40px;
        padding-bottom: 5px;
      }
      .table-center{
        padding-left: 122px;
      }
      .table-last{
        padding-bottom: 67px !important;
      }
      .table-border{
        border-top: 5px solid #F0F0F0;
      }
      .fall__pc{
        color: #8B98A8;
        margin-top: 24px;
        margin-left: 60px;
      }
    }
    .bilder{
      padding: 50px 0 50px;

      .carousel {
        border-radius: 16px;
        overflow: hidden;
        img{
          border-radius: 16px;
        }
      }

      .carousel .carousel-indicators [data-bs-target]{
        border-radius: 10px;
        width: 12px;
        height: 12px;
        margin-right: 28px;
        background: $color-indicators;
        opacity: 0.35;
        border: 1px solid #0045AC;
      }
      .carousel .carousel-indicators .active{
        background: linear-gradient(180deg, #005BE4 0%, rgba(0, 96, 241, 0) 100%), #004FC7;
      }

      .carousel-control-prev,  .carousel-control-next {
        width: 126px;
        height: 78px;
        color: rgba(0, 69, 203, 0.8);
        box-shadow: 5px 5px 21px rgba(64, 68, 75, 0.14);
        border-radius: 8px;
        bottom: 0;
      }
      .carousel-control-next, .carousel-control-prev {
        position: relative;
        top: 95%;
        bottom: 0 !important;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        color: #004FC7;
        text-align: center;
        border: 0;
        opacity: .5;
        transition: 0.3s;

        :hover{
          transform: scale(1.1);
        }
      }
      .carousel-control-next{
        left: 2%;
      }
      .carousel-indicators {
        bottom: 30px;
      }
      .carousel-control-prev-icon ,.carousel-control-next-icon{
        display: none;
      }

    }
    .besucher{
      padding: 26px 0 90px;

      .btn-primary{
        width: 98% !important;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21);
        border-radius: 12px;
        padding: 20px;
        line-height: 40px;
        letter-spacing: 1.42px;
        color: #FAFBFE;
        font-size: $font-size;
        margin: 0 0 8px 0;
      }
    }








  @media (max-width: 1200px) {
  .section-blue{
    .section-blue__btn-text{
      width: 60%;
    }
  }
    .about-img, .die-img{
      width: 100%;
    }
    .img-card {
      margin-right: 5px;
  }
    .fall {
      .fall__pc{
        margin-left: 0;
      }
    }
    .footer {
      .footer__top-center{
        margin-left: 0;
      }
    }
}

  @media (max-width: 992px) {
    .section-card{
      padding: 48px 0;
    }
  }

  @media (max-width: 768px) {
    .about{
      padding-top: 90px;
    }
    .funtc{
     padding: 36px 0 84px; 
    }
    .section-ihre__text{
      margin-bottom: 20px;
    }
    .die-block__text {
      margin-top: 15px;
    }
    .die-block .section-ihre__text {
      margin-bottom: 27px;
    }
    .die-block__title{
      text-align: center;
    }
    .die-block{
      padding: 40px 15px;
    }
    .fall .table-center{
      padding-left: 20px;
    }
    .fall__title{
      margin: 100px 0 28px;
    }
    .fall button, .fall .nav-item, .fall .nav-link, .fall button:hover{
      width: 100%;
      height: 50px;
      background: #F6F7F9;
    }
    .fall .nav-tabs .nav-item.show .nav-link, .fall .nav-tabs .nav-link.active{
      height: 50px;
    }
    .bilder .carousel-indicators{
      bottom: 0;
      position: relative;
      margin-top: 20px;
    }
    .bilder{
      padding: 30px 0;
    }
    .besucher .btn-primary{
      width: 100% !important;
    }
    .mobile-btns{
      margin: 0 auto;
    }
    .besucher{
      padding: 26px 0 65px;
    }
   .about-img{
     display: none;
   }
   .die-block{
     margin-bottom: 40px;
   }
   .carousel-btns{
     display: none;
  }
  }
  @media(max-width: 540px){
    .section-blue{
      &__btn-text{
        font-size: 1.125rem;
        text-align: center;
        width: 100% !important;
        margin-bottom: 30px;
      }
      .btn-primary{
        margin: 0 auto;
      }
      &__btn-block{
        padding: 39px 37px 22px 37px;
      }
    }
    .section-blue{
      padding: 32px 0 50px 0;
    }
    .section-ihre {
      margin-top: 34px;
    }
    .die{
      .section-ihre__text{
        text-align: center;
    }
  }
  .tab-content>.active{
    overflow-x: scroll;
  }
}

 



