$color-primary: #45494F;
$color-accent: #1652AC;
$color-light: #ffffff;
$color-line: #EDEFF3;
$color-strong: #020303;
$color-bg-light: #FBFBFC;
$color-green: #00BA1E;
$color-yellow: #FFB800;
$color-italic: #FBFDFF;
$color-tabs: #C4C7CA;
$color-tabs-bottom: #dee2e6;
$color-tabs-title :#2762BB;
$color-tabs-title :#2762BB;
$color-tabs-td: #DEDEDE;
$color-indicators:  #80ABFF;
$color-footer: #A3ADBA;




