$color-primary: #45494F;
$color-accent: #1652AC;
$color-light: #ffffff;
$color-strong: #020303;
$color-bg-light: #FBFBFC;
$color-green: #00BA1E;
$color-yellow: #FFB800;


$color-accent-light: #4c86f9;
$color-dark: #000000;
$color-light-grey: #FBFBFC;
$color-grey: #3a3e52;
$color-dark-grey: #2f3242;

