/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #45494F !important;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.25rem;
  letter-spacing: -0.32px;
  font-weight: 400;
  border: 2px solid transparent;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
  border: 2px solid #EAEDF5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  color: #1652AC !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  height: 200px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card:hover {
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding-top: 44px;
}

.card-title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.25rem;
  letter-spacing: -0.4px;
  color: #1652AC;
  margin-bottom: 30px;
}

.card-text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 35px;
  letter-spacing: -0.4px;
  color: #45494F;
  max-width: 449px;
  margin: 0 auto;
}

.text-success {
  color: #00BA1E !important;
}

.text-warning {
  color: #FFB800 !important;
}

strong {
  color: #020303;
}

.btn-primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#005DE7), to(#0048B4)), -webkit-gradient(linear, left bottom, left top, from(#0650BE), to(#0650BE));
  background: -o-linear-gradient(top, #005DE7 0%, #0048B4 100%), -o-linear-gradient(bottom, #0650BE, #0650BE);
  background: linear-gradient(180deg, #005DE7 0%, #0048B4 100%), linear-gradient(0deg, #0650BE, #0650BE);
  border: 1px solid #285CE2;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  padding: 20px 36px 20px 0;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  width: 300px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  width: 100%;
}

.navbar-nav .dropdown-menu {
  border: none;
}

body {
  color: #45494F;
  background-size: contain;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  font-size: 1rem;
  overflow-x: hidden;
  background: #FBFBFC;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #1652AC;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #020303;
  line-height: 2.5rem;
  letter-spacing: 4.42px;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: -0.4px;
  color: #ffffff;
}

button,
button:active,
button:focus {
  outline: none;
}

a {
  color: #1652AC;
  font-weight: 700;
}

a:hover, a:active {
  color: #45494F;
}

.bold {
  font-weight: bold;
}

.arrow {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.arrow:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

ol {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

video {
  border-radius: 12px;
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.accent-black {
  color: #020303;
}

.accent {
  color: #1652AC;
}

.navbar {
  padding: 0;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  height: 42px;
}

.navbar-nav {
  font-weight: 400;
  background: #ffffff;
}

.navbar .nav-item {
  margin-left: 1.25rem;
}

.navbar .nav-item:last-of-type {
  margin-left: 0;
}

.about {
  padding-top: 106px;
  padding-bottom: 70px;
  background: #ffffff;
}

.about__text {
  padding: 0 !important;
}

.about__paragraph {
  line-height: 2rem;
  letter-spacing: -0.4px;
  color: #45494F;
  margin-top: 41px;
}

.about__title {
  margin-bottom: 57px;
}

.about__line {
  width: 227px;
  height: 5px;
  content: "";
  margin-bottom: 48px;
  background: #EDEFF3;
}

.about__accent {
  color: #1652AC;
  font-weight: 600;
}

.section-card {
  padding: 77px 0 87px 0;
}

.section-card__title {
  color: #1652AC;
  margin-bottom: 90px;
}

.card-left, .card-right, .card-center {
  padding: 4px;
}

.section-blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#163DA2), to(#003584));
  background: -o-linear-gradient(top, #163DA2 0%, #003584 100%);
  background: linear-gradient(180deg, #163DA2 0%, #003584 100%);
  padding: 90px 0 95px 0;
}

.section-blue__btn-block {
  background: rgba(55, 111, 255, 0.16);
  mix-blend-mode: normal;
  border: 1px solid #3355AF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  padding: 40px 25px 40px 33px;
  margin-top: 65px;
}

.section-blue__btn-text {
  color: #FBFDFF;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 2rem;
  letter-spacing: -0.4px;
  font-style: italic;
  margin-bottom: 0;
}

.section-ihre {
  margin-top: 82px;
}

.section-ihre__text {
  margin-bottom: 40px;
}

.ihre-card {
  min-height: 136px !important;
}

.ihre-body {
  padding: 38px 15px 34px 35px;
  height: 140px;
}

.img-card {
  margin-right: 35px;
}

.hauptmerkmale {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin-top: 50px;
  padding: 43px 52px 65px 52px;
}

.hauptmerkmale__item {
  margin-bottom: 1.25rem;
}

.hauptmerkmale__img {
  margin-right: 1.25rem;
  font-size: 1rem;
}

.funtc {
  padding: 80px 0 106px;
}

.funtc__overlay {
  opacity: 0.8;
  background-color: rgba(21, 21, 21, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 10px;
  width: 100%;
  z-index: 4;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
}

.funtc__items {
  position: relative;
}

.die-block {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 48px 46px 80px 60px;
  margin-bottom: 93px;
}

.die-block .section-ihre__text {
  margin-bottom: 57px;
}

.die-block__text {
  margin-top: 40px;
}

.die-block__title {
  font-size: 1.25rem;
}

.die-block .about__line {
  margin-top: 32px;
  margin-bottom: 52px;
}

.fall__tabs {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.fall .nav-tabs {
  background: #f6f7f9;
}

.fall button, .fall .nav-item, .fall .nav-link, .fall button:hover {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2em;
  letter-spacing: -0.4px;
  color: #C4C7CA;
  border: none;
  border-radius: 16px 16px 0 0;
}

.fall .nav-tabs .nav-link:focus, .fall .nav-tabs .nav-link:hover {
  width: 100%;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2em;
  letter-spacing: -0.4px;
  border: none;
}

.fall .nav-tabs .nav-item.show .nav-link, .fall .nav-tabs .nav-link.active {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2em;
  letter-spacing: -0.4px;
  border: none;
  border-bottom: 1px solid #dee2e6;
  border-radius: 16px 16px 0 0;
}

.fall__title {
  color: #2762BB;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2.3rem;
  letter-spacing: 2.42px;
  margin-top: 52px;
  margin-bottom: 47px;
}

.fall .table-title {
  border-bottom: 1px solid #DEDEDE;
}

.fall .table > :not(caption) > * > * {
  border-right: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  padding-top: 40px;
  padding-bottom: 5px;
}

.fall .table-center {
  padding-left: 122px;
}

.fall .table-last {
  padding-bottom: 67px !important;
}

.fall .table-border {
  border-top: 5px solid #F0F0F0;
}

.fall .fall__pc {
  color: #8B98A8;
  margin-top: 24px;
  margin-left: 60px;
}

.bilder {
  padding: 50px 0 50px;
}

.bilder .carousel {
  border-radius: 16px;
  overflow: hidden;
}

.bilder .carousel img {
  border-radius: 16px;
}

.bilder .carousel .carousel-indicators [data-bs-target] {
  border-radius: 10px;
  width: 12px;
  height: 12px;
  margin-right: 28px;
  background: #80ABFF;
  opacity: 0.35;
  border: 1px solid #0045AC;
}

.bilder .carousel .carousel-indicators .active {
  background: -webkit-gradient(linear, left top, left bottom, from(#005BE4), to(rgba(0, 96, 241, 0))), #004FC7;
  background: -o-linear-gradient(top, #005BE4 0%, rgba(0, 96, 241, 0) 100%), #004FC7;
  background: linear-gradient(180deg, #005BE4 0%, rgba(0, 96, 241, 0) 100%), #004FC7;
}

.bilder .carousel-control-prev, .bilder .carousel-control-next {
  width: 126px;
  height: 78px;
  color: rgba(0, 69, 203, 0.8);
  -webkit-box-shadow: 5px 5px 21px rgba(64, 68, 75, 0.14);
          box-shadow: 5px 5px 21px rgba(64, 68, 75, 0.14);
  border-radius: 8px;
  bottom: 0;
}

.bilder .carousel-control-next, .bilder .carousel-control-prev {
  position: relative;
  top: 95%;
  bottom: 0 !important;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  color: #004FC7;
  text-align: center;
  border: 0;
  opacity: .5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.bilder .carousel-control-next :hover, .bilder .carousel-control-prev :hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.bilder .carousel-control-next {
  left: 2%;
}

.bilder .carousel-indicators {
  bottom: 30px;
}

.bilder .carousel-control-prev-icon, .bilder .carousel-control-next-icon {
  display: none;
}

.besucher {
  padding: 26px 0 90px;
}

.besucher .btn-primary {
  width: 98% !important;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21);
  border-radius: 12px;
  padding: 20px;
  line-height: 40px;
  letter-spacing: 1.42px;
  color: #FAFBFE;
  font-size: 1rem;
  margin: 0 0 8px 0;
}

.footer {
  padding: 73px 0 56px;
  -webkit-box-shadow: 0 1px 4px rgba(48, 67, 133, 0.5);
          box-shadow: 0 1px 4px rgba(48, 67, 133, 0.5);
}

.footer .footer__top {
  border-bottom: 2px solid #EEF0F4;
}

.footer .footer__top-title {
  font-weight: bold;
  font-size: 2.125rem;
  line-height: 2.6875rem;
  letter-spacing: -0.4px;
  color: #1652AC;
}

.footer .footer__top .btn-primary {
  margin-bottom: 78px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0C5CD6), to(rgba(0, 56, 140, 0))), #004FC7;
  background: -o-linear-gradient(top, #0C5CD6 0%, rgba(0, 56, 140, 0) 100%), #004FC7;
  background: linear-gradient(180deg, #0C5CD6 0%, rgba(0, 56, 140, 0) 100%), #004FC7;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 4px rgba(48, 67, 133, 0.5);
          box-shadow: 0 1px 4px rgba(48, 67, 133, 0.5);
  border-radius: 12px;
  padding-right: 110px;
}

.footer .footer__top-center {
  margin-left: 75px;
}

.footer-bottom {
  margin-top: 50px;
}

.footer-bottom .footer-bottom__title {
  font-weight: bold;
  line-height: 2em;
  letter-spacing: -0.4px;
  color: #A3ADBA;
  height: 27px;
}

.footer-bottom__text a {
  line-height: 2em;
  letter-spacing: -0.4px;
  color: #9EABBB;
  font-weight: normal;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .section-blue .section-blue__btn-text {
    width: 60%;
  }
  .about-img, .die-img {
    width: 100%;
  }
  .img-card {
    margin-right: 5px;
  }
  .fall .fall__pc {
    margin-left: 0;
  }
  .footer .footer__top-center {
    margin-left: 0;
  }
}

@media (max-width: 1126px) {
  .nav-link {
    font-size: 0.875rem !important;
  }
}

@media (max-width: 992px) {
  h1 {
    text-align: center;
  }
  .about__line {
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .about-img__mobile {
    width: 100%;
  }
  .navbar .nav-item {
    margin-left: 0rem;
  }
  .navbar-light .navbar-toggler {
    border: none;
  }
  .section-card {
    padding: 48px 0;
  }
  .carousel-btns {
    display: none;
  }
  .mobile-btns {
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .card-title {
    margin-bottom: 17px;
  }
  .navbar-light .navbar-nav .nav-link.active {
    border: none;
    width: auto;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.125rem;
    text-align: center;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 4.42px;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .about {
    padding-top: 90px;
  }
  .funtc {
    padding: 36px 0 84px;
  }
  .section-ihre__text {
    margin-bottom: 20px;
  }
  .die-block__text {
    margin-top: 15px;
  }
  .die-block .section-ihre__text {
    margin-bottom: 27px;
  }
  .die-block__title {
    text-align: center;
  }
  .die-block {
    padding: 40px 15px;
  }
  .fall .table-center {
    padding-left: 20px;
  }
  .fall__title {
    margin: 28px 0 28px;
  }
  .fall button, .fall .nav-item, .fall .nav-link, .fall button:hover {
    width: 100%;
    background: #F6F7F9;
  }
  .bilder .carousel-indicators {
    bottom: 0;
    position: relative;
    margin-top: 20px;
  }
  .bilder {
    padding: 30px 0;
  }
  .besucher .btn-primary {
    width: 100% !important;
  }
  .besucher {
    padding: 26px 0 65px;
  }
  .about-img {
    display: none;
  }
  .die-block {
    margin-bottom: 40px;
  }
  .footer {
    padding: 48px 0;
  }
  .footer .footer__top .btn-primary {
    margin-bottom: 12px;
  }
}

@media (max-width: 540px) {
  .section-blue__btn-text {
    font-size: 1.125rem;
    text-align: center;
    width: 100% !important;
    margin-bottom: 30px;
  }
  .section-blue .btn-primary {
    margin: 0 auto;
  }
  .section-blue__btn-block {
    padding: 39px 25px 22px 35px;
  }
  .section-blue {
    padding: 32px 0 50px 0;
  }
  .section-ihre {
    margin-top: 34px;
  }
  .die .section-ihre__text {
    text-align: center;
  }
  .tab-content > .active {
    overflow-x: scroll;
  }
  .hauptmerkmale {
    padding: 45px 15px 65px 15px;
  }
  .footer .footer__top .btn-primary {
    width: 100% !important;
    padding-right: 40%;
  }
  .footer .footer__img {
    display: none;
  }
  .footer-items {
    width: 100%;
    margin-bottom: 0;
  }
  .footer .mobile {
    display: none;
  }
}
